<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/theme-charcoal.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700" rel="stylesheet">
    <script src="~/js/Scrolling.js"></script>

</head>
<body data-smooth-scroll-offset="77">
    <div class="nav-container"> </div>
    <div class="main-container">
        <section class="cover imagebg height-60 section--ken-burns" data-overlay="4">
            <div class="background-image-holder"> <img alt="background" src="~/img/Hero_4.jpg" /> </div>

            <div class="container text pos-vertical-center">
                <div class="row">
                    <div class="col-md-8 col-lg-8">
                        <h1>
                            <b>
                                Ihre Apothekenmarke
                            </b> <br>für Medizinalcannabis
                        </h1>
                    </div>
                </div>
            </div>
        </section>
        <section id="uberuns" name="uberuns" class="bg--secondary space--sm text-justify">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-12">
                        <h2><b>APOCAN</b></h2>
                        @*<p class="lead">
            Konzipiert für den Umgang in Ihrer Apotheke und eine reibungslose Abgabe an den Patienten. Die Apotheke ist der schnellste Anlaufpunkt für Patienten und eine wichtige Stütze im Gesundheitswesen. APOCAN bietet Ihnen die aktuellen Cannabisprodukte für Ihre Rezepturen.
        </p>*@
                    <p class="lead">
                        Therapien mit Medizinalcannabis sind in Deutschland seit 2017 zulässig. Seitdem verschreiben Ärzte Cannabis in unterschiedlichen Darreichungsformen, welche von Apothekern zubereitet werden.
                    </p>
                    <p class="lead">
                        APOCAN ist die Marke, die für diesen sicheren Versorgungsweg auf qualitativ höchstem Niveau in der Vor-Ort-Apotheke steht. Eine kurzfristige Versorgung durch den vollversorgenden pharmazeutischen Großhandel steht bei APOCAN im Fokus. APOCAN arbeitet eng mit Apothekern und Pharmazeutisch-Technischen Assistenten an einem allumfassenden Serviceangebot, um den Bezug, die Verarbeitung und die Abgabe von medizinischem Cannabis so einfach wie möglich zu gestalten.
                    </p>
                    <p class="lead">
                        APOCAN bietet Ihnen aktuelle Cannabisprodukte für Ihre Rezepturen und darüber hinaus auch viele wichtige Informationen rund um das Thema Medizinalcannabis in der Arztpraxis und in der Apotheke an.
                    </p>
                        @*<p class="lead">
            Erfahren Sie mehr über unser Produkt- und Informationsangebot.
        </p>*@
                        <a class="btn btn--primary type--uppercase" href="~/#unsereprodukte">
                            <span class="btn__text">
                                PRODUKTE
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section id="cannabis" name="cannabis" class="switchable feature-large space--sm switchable--switch bg--primary-1 ">
            <div class="container">
                <div class="row ">
                    <div class="col-md-6"> <img alt="Image" class="border--round box-shadow-wide" src="~/img/Cannabis_Header_1.jpg"> </div>
                    <div class="col-md-6 col-lg-6">
                        @*<div class="switchable__text">
                            <h2><b>Starke </b> Partnerschaft</h2>
                            <p class="lead"> APOCAN ist eine Zusammenarbeit der NOWEDA und Greenstein Germany. Erstklassige medizinische Versorgung trifft auf innovative Cannabis-Experten. Gemeinsam entsteht ein nachhaltiges Angebot aus natur- und semisynthetischen Rezepturarzneimitteln in höchster Qualität.<br><br>Unser Service unterstützt Sie in den täglichen Aufgaben der Patientenbetreuung, Qualitätskontrolle und Rezepturherstellung.  </p>
                        </div>*@
                        <div class="switchable__text">
                            <h2><b>Cannabis</b></h2>
                            <p class="lead">
                                    Ganzheitliche Therapien sind in den letzten Jahren wieder verstärkt in den Fokus der Medizin und der Wissenschaft geraten. Im Zuge der erweiterten Erforschung pflanzlicher Wirkstoffe und derer Eigenschaften ist eine altbekannte Pflanze besonders hervorgetreten.
                            </p>
                            <p class="lead">
                                Hanf, oder Cannabis sativa, beinhaltet etwa einhundert sogenannte Phytocannabinoide und zirka 400 weitere sekundäre Pflanzenstoffe, die eine große Bandbreite an positiven Wirkungen auf den menschlichen Körper und Geist haben und zum Teil mit sich selbst synergetisch wirken.
                            </p>
                            <p class="lead">
                                Dies funktioniert allerdings nur, wenn verschreibende Ärzte neue wissenschaftliche Ergebnisse und Erkenntnisse auch erfahren und in ihre Therapie integrieren können. An dieser Stelle unterstützt APOCAN alle interessierten Ärzte mit weitreichenden Informationen, Schulungen und Aufklärung zu allen Punkten der Behandlung mit medizinischem Cannabis.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="unsereprodukte" name="unsereprodukte" class="text-center space--xs bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-10">
                        <div class="cta">
                            <h2><b>Unsere Produkte</b></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg--secondary space--xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            <i><img alt="Image" width="75" height="75" class="border--round" src="~/img/Icons/cbd.svg"></i>
                            <h4><b>Cannabidiol</b></h4>
                            <hr>
                            <p> Hier finden Sie eine Auswahl an Cannabidiol.</p>
                            <a class="btn btn--primary" href="@Url.RouteUrl("Cannabidiol")">
                                <span class="btn__text">
                                    Mehr
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            @*<i class="icon icon-Wine-Bottle color--primary"></i>*@
                            <i><img alt="Image" width="75" height="75"  class="border--round" src="~/img/Icons/thc.svg"></i>
                            <h4><b>Dronabinol</b></h4>
                            <hr>
                            <p> Hier finden Sie eine Auswahl an Dronabinol.</p>
                            <a class="btn btn--primary" href="@Url.RouteUrl("Dronabinol")">
                                <span class="btn__text">
                                    Mehr
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            @*<i><img alt="Image" width="50" height="50" class="border--round box-shadow-wide" src="~/img/Icons/thc.svg"></i>*@
                            <i><img alt="Image" width="75" height="75" class="border--round" src="~/img/Icons/cannabis-extract.svg"></i>
                            <h4><b>Extrakte</b></h4>
                            <hr>
                            <p> Hier finden Sie Extrakte mit verschiedenen Konzentrationen an THC und CBD.</p>
                            <a class="btn btn--primary" href="@Url.RouteUrl("Extrakte")">
                                <span class="btn__text">
                                    Mehr
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="feature feature-4 boxed boxed--lg boxed--border">
                            <i><img alt="Image" width="75" height="75" class="border--round" src="~/img/Icons/marijuana-flower.svg"></i>
                            <h4><b>Blüten</b></h4>
                            <hr>
                            <p> Hier finden Sie Blüten mit verschiedenen Konzentrationen an THC und CBD.</p>
                            <a class="btn btn--primary" href="@Url.RouteUrl("Bluten")">
                                <span class="btn__text">
                                    Mehr
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="produkte" name="produkte" class="imageblock switchable feature-large bg--primary-1">
            <div class="imageblock__content col-lg-5 col-md-3 pos-right">
                <div class="background-image-holder"> <img alt="image" src="~/img/Therapiealternative.jpg"> </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-8">
                        <h2>
                            <b>Sichere Therapiealternativen</b>
                        </h2>
                        @*<p class="lead">
            APOCAN bietet den sicheren Zugang zu Medizinal-Cannabis durch zertifizierten Anbau und strengen Qualitätskontrollen. Das breite Produktportfolio bietet Schmerzpatienten, Krebspatienten, HIV-Patienten und vielen mehr eine Chance auf verbesserte Lebensqualität.
        </p>*@
                        <p class="lead">
                            APOCAN bietet medizinischem und pharmazeutischem Fachpersonal den sicheren Zugang zu Medizinalcannabis. Um den Patienten mit höchstmöglicher Qualität versorgen zu können, werden alle Ausgangsmaterialien unserer Produkte durch zertifizierten Anbau und strengen Qualitätsrichtlinien fortwährend kontrolliert.
                        </p>
                        @*<p class="lead">
                            APOCAN unterstützt Patienten in allen Lebensbereichen durch ständige Forschung und Entwicklung an innovativen Arzneimitteln. Somit können Patienten die schönen Lebensmomente genießen, so individuell wie sie sind.
                        </p>*@
                    <p class="lead">
                        Das breite Produktportfolio bietet allen Patienten die Chance auf verbesserte Lebensqualität und Milderung von Krankheitssymptomen. Somit können Patienten die schönen Lebensmomente genießen - so individuell wie sie sind.
                    </p>
                    </div>
                </div>
            </div>
        </section>
        @*<section class="bg--secondary text-justify">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-12">
                        <h2>
                            In unserem Fachbereich finden Sie als medizinisches Fachpersonal ausführliche Informationen zu unseren Produkten und rund um das Thema Medizinal-Cannabis.
                        </h2>
                        <p class="lead">
                            Dort sehen Sie eine Übersicht all unserer Produkte und können sich über fachspezifische Themen aus dem Ärzte- und Apothekenalltag informieren.
                        </p>
                    </div>
                </div>
            </div>
        </section>*@
        <section id="service" name="service" class="space--xs">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-12">
                        <div class="cta">
                            <h2><b>Melden Sie sich in unserem Fachbereich an</b></h2>
                            <p class="lead"> In unserem Fachbereich finden Sie als medizinisches Fachpersonal ausführliche Informationen zu unseren Produkten und rund um das Thema Medizinalcannabis. Im Rahmen des Heilmittelwerbegesetzes können wir bestimmte medizinische Informationen nur an Fachkreisen herausgeben. Wir bitten um Ihr Verständnis.  </p>
                            <p class="lead"> Dort sehen Sie eine Übersicht all unserer Produkte und können sich über fachspezifische Themen aus dem Ärzte- und Apothekenalltag informieren.   </p>   <a class="btn btn--primary type--uppercase" href="@Url.RouteUrl("Login")">
                                <span class="btn__text">Doccheck</span>@*<span class="label">NEW&nbsp;</span>*@
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="cover imagebg height-70 text-center" data-overlay="3">
            <div class="background-image-holder"> <img alt="background" src="~/img/Unternehmen-1.jpg" /> </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-md-8 col-lg-10">
                        <h1>@*<b>Unser Fachbereich</b>*@</h1>
                        @*<p class="lead"> Melden Sie sich jetzt in unserem Fachbereich an, um mehr Informationen zu unseren Produkten und rund um das Thema Cannabis als Medizin zu erfahren. </p>*@
                        <a class="btn btn--primary-1 type--uppercase" href="@Url.RouteUrl("Kontakt")">
                            <span class="btn__text">
                                KONTAKT
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>